name: "review-tracker"
on: pull_request_review
jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - uses: hcancelik/pr-approval-tracker@v1
        with:
          secret_token: ${{ secrets.GITHUB_TOKEN }}
